{"openapi":"3.0.1","info":{"title":"rail API Specification","description":"Welcome to the rail Developer Guide!\n","version":"1.0.7"},"servers":[{"url":"https://sandbox.layer2financial.com/api","description":"Sandbox - Stable API Instance"},{"url":"https://platform.layer2financial.com/api","description":"Production - Stable API Instance"}],"tags":[{"name":"Applications","description":"Customer application (onboarding) management"},{"name":"Accounts/Deposits","description":"Deposit accounts creation and management functions"},{"name":"Accounts/Payments","description":"Payment accounts creation and management functions"},{"name":"Counterparty","description":"Counterparty creation and management functions, including remote linking"},{"name":"Customers","description":"Customer management and servicing functions to allow clients to onboard, manage and maintain customers"},{"name":"Deposits","description":"Deposits are used to move external funds into platform managed accounts"},{"name":"Documents","description":"Document uploading and management functions"},{"name":"Exchanges","description":"Exchanges are used to convert funds from one currency to another. This is achieved by moving money between 2 platform accounts that are denominated in different currencies. We have eliminated the complexity of traditional currency trading."},{"name":"Transactions","description":"Transactions are created to record the movement of funds between accounts. These can be used to record a transfer, a deposit, a withdrawal or a settlement."},{"name":"Transfers","description":"Transfer are used to move funds between two platform managed accounts that are denominated in the same currency. Where possible, these are always performed *offchain*. "},{"name":"Withdrawals","description":"Move funds from a platform managed account to an external counter party"},{"name":"Settlements","description":"Settlement services for funds confirmation and reconciliation"},{"name":"Subscriptions (Webhooks)","description":"Manage your callback (webhook) subscriptions"}],"paths":{"/v1/withdrawals":{"post":{"tags":["Withdrawals"],"summary":"Create Withdrawal","description":"Request a new withdrawal. On successful request, the withdrawal must be accepted before it is queued for execution. Withdrawals accepted before ","operationId":"createWithdrawal","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Withdrawal"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithdrawalBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["withdrawals:write"]}]}},"/v1/withdrawals/{withdrawal_id}/accept":{"post":{"tags":["Withdrawals"],"summary":"Accept Withdrawal","description":"Accept a withdrawal. This will execute the withdrawal and may not be reversible","operationId":"acceptWithdrawal","parameters":[{"name":"id","in":"path","description":"Withdrawal ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}},{"name":"x-signature","in":"header","description":"Client signature to validate the provence of the API request. See [signing](https://docs.rail.io/guides/requestsigning/) section for more details.","schema":{"type":"string"}},{"name":"x-timestamp","in":"header","description":"Current timestamp, represented AS unix epoch seconds. Mandatory when x-signature is provided.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithdrawalBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["withdrawals:write"]}]}},"/v1/transfers":{"post":{"tags":["Transfers"],"summary":"Create Transfer","description":"Request a new transfer. The transfer must be accepted prior to executing","operationId":"createTransfer","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTransfer"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTransfer"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["transfers:write"]}]}},"/v1/transfers/{transfer_id}/accept":{"post":{"tags":["Transfers"],"summary":"Accept Transfer","description":"Accept a requested transfer. This will execute the transfer and may not be reversible depending on the owner of the destination account","operationId":"confirmTransfer","parameters":[{"name":"id","in":"path","description":"Transfer ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}},{"name":"x-signature","in":"header","description":"Client signature to validate the provence of the API request. See [signing](https://docs.rail.io/guides/requestsigning/) section for more details.","schema":{"type":"string"}},{"name":"x-timestamp","in":"header","description":"Current timestamp, represented AS unix epoch seconds. Mandatory when x-signature is provided.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTransferBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["transfers:write"]}]}},"/v1/subscriptions":{"get":{"tags":["Subscriptions (Webhooks)"],"summary":"Get Subscriptions","description":"Return all subscriptions","operationId":"getSubscriptions","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseSubscriptions"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["subscriptions:read"]}]},"post":{"tags":["Subscriptions (Webhooks)"],"summary":"Create Subscription","description":"Creates a new event call back subscription","operationId":"createSubscription","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscription"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseSubscription"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["subscriptions:write"]}]}},"/v1/exchanges/{exchange_id}/accept":{"post":{"tags":["Exchanges"],"summary":"Accept Exchange","description":"Accept an exchange quote. This will execute the exchange and is not reversible","operationId":"acceptExchange","parameters":[{"name":"id","in":"path","description":"Exchange ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}},{"name":"x-signature","in":"header","description":"Client signature to validate the provence of the API request. See [signing](https://docs.rail.io/guides/requestsigning/) section for more details.","schema":{"type":"string"}},{"name":"x-timestamp","in":"header","description":"Current timestamp, represented AS unix epoch seconds. Mandatory when x-signature is provided.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestExchangeAccept"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExchange"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["exchanges:write"]}]}},"/v1/exchanges/quote":{"post":{"tags":["Exchanges"],"summary":"Create Exchange (Quote)","description":"Requesting an exchange is non binding, you can request as many exchanges as needed. Typically within your user experience tier, you are expected to poll this endpoint periodically when showing users quotes (e.g. every 3 seconds). When you are ready to accept a quote, see the [accept exchange](#operation/acceptExchange) endpoint. \n\nNote: Not all custodians support all order types. Where the order type is not possible (Quote/Market/Fix Destination/ Fix Source) an error will be returned. ","operationId":"createExchangeQuote","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestExchange"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExchange"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["exchanges:write"]}]}},"/v1/exchanges/market":{"post":{"tags":["Exchanges"],"summary":"Create Exchange (Market)","description":"When requesting a market exchange, the quote received is indicative ONLY. This represents an approximate  rate from our liquidity providers. On accepting a market exchange the trade is performed at the current market rate which will be different to the quote presented to you.\n\nNote: Not all custodians support all order types. Where the order type is not possible (Quote/Market/Fix Destination/ Fix Source) an error will be returned.","operationId":"createExchangeMarket","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestExchange"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExchange"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["exchanges:write"]}]}},"/v1/documents/{document_id}":{"post":{"tags":["Documents"],"summary":"Upload Document","description":"Uploads a document to the system. Subsequent uploads to the same id will overwrite previous documents.ß","operationId":"uploadDocument","parameters":[{"name":"id","in":"path","description":"Document ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDocumentBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write","customers:write"]}]}},"/v1/deposits":{"post":{"tags":["Deposits"],"summary":"Create Deposit","description":"Create a deposit request for a platform account in order to send funds into the account.","operationId":"createDeposits","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Deposit"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/DEPOSIT_PUSH"},{"$ref":"#/components/schemas/DEPOSIT_PULL"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["deposits:write"]}]}},"/v1/deposits/{deposit_id}/accept":{"post":{"tags":["Deposits"],"summary":"Accept Deposit","description":"Accept a Deposit. This is only needed for `PULL` deposits, `PUSH` deposits do not need to be accepted. On acceptance, this will initiate the funds pull from the source counterparty. It is not reversible","operationId":"acceptDeposit","parameters":[{"name":"id","in":"path","description":"Deposit ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}},{"name":"x-signature","in":"header","description":"Client signature to validate the provence of the API request. See [signing](https://docs.rail.io/guides/requestsigning/) section for more details.","schema":{"type":"string"}},{"name":"x-timestamp","in":"header","description":"Current timestamp, represented AS unix epoch seconds. Mandatory when x-signature is provided.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDepositBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["deposits:write"]}]}},"/v1/customers/{id}/payor":{"post":{"tags":["Customers"],"summary":"Create Payor","description":"Onboard a payor and assign them to a customer. All details are optional barring the ID and First/Last name","operationId":"onboardPayor","parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestPayorOnboarding"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsePayorBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["customers:write"]}]}},"/v1/customers/{customer_id}/individuals":{"post":{"tags":["Customers"],"summary":"Create Individual","description":"Add a new individual/officer on a corporate customer","operationId":"addIndividual","parameters":[{"name":"id","in":"path","description":"Corporate Customer ID. This operation can only be performed on corporate customers.","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestIndividual"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseIndividualBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["customers:write"]}]}},"/v1/counterparties":{"get":{"tags":["Counterparty"],"summary":"Retrieve Counterparties","description":"Retrieves a list of counterparties given the filter parameters provided","operationId":"getCounterparties","parameters":[{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"Records to return per page (default = 20)","schema":{"type":"integer","format":"int32"}},{"name":"customer_id","in":"query","description":"Customer ID to whom the counterparty belongs","schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCounterparties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]},"post":{"tags":["Counterparty"],"summary":"Create Counterparty","description":"Create a new counterparty for the purpose of pulling funds into the platform or pushing out","operationId":"createCounterparty","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterParty"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCounterpartyBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/counterparties/{counterparty_id}/link/details":{"post":{"tags":["Counterparty"],"summary":"Retrieve Linking Details","description":"Retrieve the linking instructions for embedding in a UI to launch account linking from providers such as MX or Plaid.","operationId":"getLinkingDetails","parameters":[{"name":"id","in":"path","description":"Counterparty ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterPartyLinkingDetails"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterPartyLinkingDetails"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/counterparties/{counterparty_id}/link/connect":{"post":{"tags":["Counterparty"],"summary":"Connect Linked Account","description":"Established the connection between a counterparty and external linked account. ","operationId":"connectLinkAccount","parameters":[{"name":"id","in":"path","description":"Counterparty ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterPartyLinkingConnect"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCounterpartyBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/counterparties/{counterparty_id}/link/accounts":{"post":{"tags":["Counterparty"],"summary":"Retrieve Linkable Accounts","description":"Retrieve the accounts that are available for linking for a `LINKED` counterparty via a provider such as MX or Plaid. ","operationId":"getLinkAccounts","parameters":[{"name":"id","in":"path","description":"Counterparty ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterPartyLinkingAccounts"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterPartyLinkingAccounts"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/applications":{"get":{"tags":["Applications"],"summary":"Retrieve Applications","description":"Retrieves a list of applications given the filter parameters provided","operationId":"getApplications","parameters":[{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"Records to return per page (default = 20)","schema":{"type":"integer","format":"int32"}},{"name":"order_by","in":"query","description":"Field to order result set by (e.g. `customer_id`)","schema":{"type":"string"}},{"name":"order","in":"query","description":"Direction of ordering (`ASC` or `DESC`)","schema":{"type":"string"}},{"name":"status","in":"query","description":"Application status","schema":{"type":"string"}},{"name":"application_type","in":"query","description":"Application Type","schema":{"type":"string"}},{"name":"terms_and_conditions_accepted","in":"query","description":"Have Terms and Conditions being Accepted","schema":{"type":"boolean"}},{"name":"information_attested","in":"query","description":"Information Attested","schema":{"type":"boolean"}},{"name":"customer_id","in":"query","description":"Customer ID","schema":{"type":"string"}},{"name":"customer_name","in":"query","description":"Customer Name","schema":{"type":"string"}},{"name":"email_address","in":"query","description":"Customer Email Address","schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseApplications"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:read"]}]},"post":{"tags":["Applications"],"summary":"Create Application","description":"Start a new application to onboard a person or corporation. Once the application is created, proceed to add individuals and update as needed, and then submit once the status allows for it. ","operationId":"createApplication","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestApplication"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseApplicationBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write"]}]}},"/v1/applications/{application_id}/submit":{"post":{"tags":["Applications"],"summary":"Submit Application","description":"Submit the application for processing, can only be performed once the application status is  \"READY_FOR_SUBMISSION\".","operationId":"submitApplication","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseApplicationBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write"]}]}},"/v1/applications/{application_id}/individual":{"post":{"tags":["Applications"],"summary":"Add Individual","description":"Adds an individual to the corporate application. Not applicable for individual applications","operationId":"addIndividualToApplication","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestIndividual"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseIndividualBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write"]}]}},"/v1/applications/{application_id}/accesscode":{"post":{"tags":["Applications"],"summary":"Request Access Code","description":"Generate an access code for use with the rail Customer Onboarding SDK. ","operationId":"createApplicationOneTimeCode","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseApplicationAccessCode"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write"]}]}},"/v1/accounts/payments":{"get":{"tags":["Accounts/Payments"],"summary":"Retrieve Accounts","description":"Retrieves a list of accounts given the filter parameters provided","operationId":"getPaymentAccounts","parameters":[{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"Records to return per page (default = 20)","schema":{"type":"integer","format":"int32"}},{"name":"customer_id","in":"query","description":"Account holder customer ID","schema":{"type":"string"}},{"name":"status","in":"query","description":"* `OPEN` - Account is open and available for use in line with its product configuration\n* `CLOSED` - Account is permanently closed, no further actions can be performed on the account.  \n* `PENDING` - Account is under additional review prior to moving to the OPEN or CLOSED state. No actions can be performed on the account.  \n* `FROZEN` - Account has been temporarily locked for all actions (deposits, transfers, exchanges and withdrawals).  \n* `EDD` -  Account (and/or customer) requires enhanced due diligence to be performed. The accounts will operate as if frozen. \n* `DORMANT` - No activity has been seen in the last 12 months. The account is available for use.  \n\n","schema":{"type":"string","enum":["OPEN","CLOSED","FROZEN","PENDING","EDD","DORMANT"]}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccounts"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]},"post":{"tags":["Accounts/Payments"],"summary":"Open Payment Account","description":"Opens a new payment account for a customer. ","operationId":"openPaymentAccount","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestAccountOpen"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccountBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/accounts/payments/{id}/address":{"post":{"tags":["Accounts/Payments"],"summary":"Request Payment Address","description":"Returns an address that can be used to send deposits to this account. If payor details are provided in the request, the address is also associated to the payor and payment reference ID. \n\nThe [transactions](#operation/getTransactions) listing provides reconciliation details per deposit, including payor information if provided. When auto exchange is enabled, the [settlements](#operation/getSettlement) listing provides a fully breakdown of deposit to exchange and settlement. \n\nThe product configuration of the account will determine if the address being returned is fixed or temporary (rotating). This can be modified via the [Management Interface](https://management.layer2financial.com). You can read more about the address leasing model under [Leasing Concepts]().  \n> If no payor details are provided whn requesting an address, the behaviour defaults to that of a [deposit account](#operation/getAddress_1). \n","operationId":"getPaymentAddress","parameters":[{"name":"id","in":"path","description":"Payment Account ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestPaymentAddress"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAddressLease"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/accounts/deposits":{"get":{"tags":["Accounts/Deposits"],"summary":"Retrieve Accounts","description":"Retrieves a list of accounts given the filter parameters provided","operationId":"getAccounts","parameters":[{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"Records to return per page (default = 20)","schema":{"type":"integer","format":"int32"}},{"name":"customer_id","in":"query","description":"Account holder customer ID","schema":{"type":"string"}},{"name":"product_type","in":"query","description":"* `CLIENT` - Accounts at the Client level for managing client treasury operations\n* `DEPOSIT` - Accounts at the Customer level account for managing customer funds on platform\n* `VIRTUAL` - Accounts at the Customer level account for tracking externally managed customer funds \n\n[see account concepts](#section/Concepts/Accounts) for more details.","schema":{"type":"string","enum":["CLIENT","DEPOSIT","VIRTUAL"]}},{"name":"status","in":"query","description":"* `OPEN` - Account is open and available for use in line with its product configuration\n* `CLOSED` - Account is permanently closed, no further actions can be performed on the account.  \n* `PENDING` - Account is under additional review prior to moving to the OPEN or CLOSED state. No actions can be performed on the account.  \n* `FROZEN` - Account has been temporarily locked for all actions (deposits, transfers, exchanges and withdrawals).  \n* `EDD` -  Account (and/or customer) requires enhanced due diligence to be performed. The accounts will operate as if frozen. \n* `DORMANT` - No activity has been seen in the last 12 months. The account is available for use.  \n\n","schema":{"type":"string","enum":["OPEN","CLOSED","FROZEN","PENDING","EDD","DORMANT"]}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccounts"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]},"post":{"tags":["Accounts/Deposits"],"summary":"Open Account","description":"Opens a new account for a customer of a given product type","operationId":"openAccount","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestAccountOpen"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccountBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/accounts/deposits/{id}/address":{"post":{"tags":["Accounts/Deposits"],"summary":"Request Address","description":"Generates and retrieves a usable deposit address for the Asset Type that is assigned to this account","operationId":"getAddress","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAddressLease"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/customers/{customer_id}":{"get":{"tags":["Customers"],"summary":"Retrieve Customer","description":"Retrieve customer details","operationId":"getCustomerDetails","parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CUSTOMER_INDIVIDUAL"},{"$ref":"#/components/schemas/CUSTOMER_CORPORATION"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["customers:read"]}]},"patch":{"tags":["Customers"],"summary":"Update Customer ","description":"Update customer details. For individuals (officers) linked to a corporate customer, modify the individual resource directly using [Update Individual](#operation/updateIndividual).","operationId":"updateCustomer","parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestCustomerPatch"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCustomerBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["customers:write"]}]}},"/v1/customers/{customer_id}/individuals/{individual_id}":{"get":{"tags":["Customers"],"summary":"Retrieve Individual","description":"Retrieve individual details. This operation is only for corporate customers that have individual officers with access to the account","operationId":"getIndividual","parameters":[{"name":"id","in":"path","description":"Corporate Customer ID. This operation can only be performed on corporate customers.","required":true,"schema":{"type":"string"}},{"name":"individual_id","in":"path","description":"Individual ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseIndividual"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["customers:read"]}]},"patch":{"tags":["Customers"],"summary":"Update Individual","description":"Update individual details. This operation is only for corporate customers that have individual officers with access to the account","operationId":"updateIndividual","parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"schema":{"type":"string"}},{"name":"individual_id","in":"path","description":"Individual ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestPatchGeneric"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseIndividualBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["customers:write"]}]}},"/v1/counterparties/{counterparty_id}":{"get":{"tags":["Counterparty"],"summary":"Retrieve Counterparty","description":"Retrieves a list of counterparties given the filter parameters provided","operationId":"getCounterparty","parameters":[{"name":"id","in":"path","description":"Counterparty ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCounterparty"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]},"patch":{"tags":["Counterparty"],"summary":"Update Counterparty ","description":"Update Counterparty details. There are limits to what can be updated once the counterparty has been approved for use. ","operationId":"updateCounterparty","parameters":[{"name":"id","in":"path","description":"Counterparty ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestCounterpartyPatch"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCounterpartyBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/applications/{application_id}":{"get":{"tags":["Applications"],"summary":"Retrieve Application","description":"Retrieve full details of the  application","operationId":"getApplication","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/INDIVIDUAL"},{"$ref":"#/components/schemas/CORPORATION"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:read"]}]},"patch":{"tags":["Applications"],"summary":"Update Application ","description":"Update applicant properties. For Individuals attached to a corporation, you much patch the individuals directly using [Update Individual](#operation/updateIndividual_1).","operationId":"updateApplication","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestApplicationPatch"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseApplicationBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write"]}]}},"/v1/applications/{application_id}/individual/{individual_id}":{"delete":{"tags":["Applications"],"summary":"Delete Individual","description":"Deletes an individual from a corporate application. This action is permanent and cannot be reversed. All related details of the individual (including uploaded documents) will also be deleted.","operationId":"deleteIndividual","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"individual_id","in":"path","description":"Individual ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseIndividualBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write"]}]},"patch":{"tags":["Applications"],"summary":"Update Individual","description":"Update individual properties. This applies only for corporate applications where individuals associated to the company need to be updated.","operationId":"updateIndividual_1","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"individual_id","in":"path","description":"Individual ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}},{"name":"x-l2f-idempotency-id","in":"header","description":"Unique ID used to safely retry an operation. See [idempotency](https://docs.rail.io/guides/idempotence/) section for more details.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestIndividualPatch"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseIndividualBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:write"]}]}},"/v1/accounts/payments/{id}":{"get":{"tags":["Accounts/Payments"],"summary":"Retrieve Payment Account","description":"Retrieves the base set of account details for a given account ID","operationId":"getPaymentAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccount"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]},"patch":{"tags":["Accounts/Payments"],"summary":"Update Account ","description":"Update an account details. Currently only the account status can be updated.","operationId":"updatePaymentAccount","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestAccountPatch"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccountBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/accounts/deposits/{id}":{"get":{"tags":["Accounts/Deposits"],"summary":"Retrieve Account","description":"Retrieves the base set of account details for a given account ID","operationId":"getAccount","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccount"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]},"patch":{"tags":["Accounts/Deposits"],"summary":"Update Account ","description":"Update an account details. Currently only the account status can be updated.","operationId":"updateDepositAccount","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestAccountPatch"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAccountBase"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:write"]}]}},"/v1/withdrawals/{withdrawal_id}":{"get":{"tags":["Withdrawals"],"summary":"Retrieve Withdrawal","description":"Retrieves details of a previously requested withdrawal","operationId":"getWithdrawal","parameters":[{"name":"id","in":"path","description":"Withdrawal ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/WITHDRAWAL_CRYPTO"},{"$ref":"#/components/schemas/WITHDRAWAL_ACH"},{"$ref":"#/components/schemas/WITHDRAWAL_FEDWIRE"},{"$ref":"#/components/schemas/WITHDRAWAL_SWIFT"},{"$ref":"#/components/schemas/WITHDRAWAL_SEPACT"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["withdrawals:read"]}]}},"/v1/withdrawals/{withdrawal_id}/status":{"get":{"tags":["Withdrawals"],"summary":"Retrieve Withdrawal Status","description":"Retrieves status of a previously requested withdrawal","operationId":"getWithdrawalStatus","parameters":[{"name":"id","in":"path","description":"Withdrawal ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithdrawalStatus"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["withdrawals:read"]}]}},"/v1/withdrawals/{withdrawal_id}/receipt":{"get":{"tags":["Withdrawals"],"summary":"Retrieve Withdrawal Receipt","description":"Retrieves a receipt for a previously completed withdrawal.","operationId":"getWithdrawalReceipt","parameters":[{"name":"id","in":"path","description":"Withdrawal ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"Bearer token for authentication","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/octet-stream":{}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["withdrawals:read"]}]}},"/v1/transfers/{transfer_id}":{"get":{"tags":["Transfers"],"summary":"Retrieve Transfer","description":"Retrieves details of a previously requested transfer","operationId":"getTransfer","parameters":[{"name":"id","in":"path","description":"Transfer ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTransfer"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["transfers:read"]}]}},"/v1/transactions":{"get":{"tags":["Transactions"],"summary":"Retrieve Transactions","description":"Retrieves a list of transactions across all accounts given the query parameters provided","operationId":"getTransactions","parameters":[{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"Records to return per page (default = 20)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","description":"Sort order by transaction date (ASC or DESC)","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"start_date","in":"query","description":"Filter for transactions from this date","required":false,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","description":"Filter for transactions to this date","required":false,"schema":{"type":"string","format":"date"}},{"name":"account_id","in":"query","description":"Filter transactions by account ID","schema":{"type":"string"}},{"name":"category_id","in":"query","description":"Filter transactions by category ID","schema":{"type":"string"}},{"name":"category_type","in":"query","description":"Filter transactions by category type","schema":{"type":"string","enum":["ADJUSTMENT","DEPOSIT","EXCHANGE","TRANSFER","WITHDRAWAL"]}},{"name":"transaction_status","in":"query","description":"Filter transactions by transaction status","schema":{"type":"string","enum":["AUTHORIZED","PENDING","POSTED","CANCELLED"]}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTransactions"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]}},"/v1/transactions/{id}":{"get":{"tags":["Transactions"],"summary":"Retrieve Transaction","description":"Retrieves details of a single transaction","operationId":"getTransaction","parameters":[{"name":"id","in":"path","description":"Transaction ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTransactionDetails"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]}},"/v1/settlements/{settlement_id}":{"get":{"tags":["Settlements"],"summary":"Retrieve Settlement","description":"Returns a detailed breakdown of an outbound settlement by account and customer. Filterable by source and destination accounts.","operationId":"getSettlement","parameters":[{"name":"id","in":"path","description":"Settlement ID","required":true,"schema":{"type":"string"}},{"name":"source_account_id","in":"query","description":"Source Account ID to filter settlement on","required":false,"schema":{"type":"string"}},{"name":"destination_account_id","in":"query","description":"Destination Account ID to filter settlement on","required":false,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseSettlement"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"callbacks":{"Test Call Back 1":{"":{"post":{"summary":"Test Summary","description":"Test Description","requestBody":{"description":"body description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"responses":{"200":{"description":"all good"}}}}}},"security":[{"OAuth2Flow":["settlements:read"]}]}},"/v1/exchanges/{exchange_id}":{"get":{"tags":["Exchanges"],"summary":"Retrieve Exchange","description":"Retrieves details of a previously requested exchange","operationId":"getExchange","parameters":[{"name":"id","in":"path","description":"Exchange ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseExchange"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["exchanges:read"]}]}},"/v1/documents/{document_id}/download":{"get":{"tags":["Documents"],"summary":"Download Document","description":"Downloads a previously upload document","operationId":"downloadDocument","parameters":[{"name":"id","in":"path","description":"Document ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/octet-stream":{}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:read","customers:read"]}]}},"/v1/deposits/{deposit_id}":{"get":{"tags":["Deposits"],"summary":"Retrieve Deposit","description":"Retrieves details of a previously requested deposit","operationId":"getDeposit","parameters":[{"name":"id","in":"path","description":"Deposit ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/DEPOSIT_PUSH"},{"$ref":"#/components/schemas/DEPOSIT_PULL"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["deposits:read"]}]}},"/v1/customers":{"get":{"tags":["Customers"],"summary":"Retrieve Customers","description":"Retrieve customers matching the provided query parameters ","operationId":"getCustomers","parameters":[{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"Records to return per page (default = 20)","schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","description":"Type of Customer","schema":{"type":"string","enum":["INDIVIDUAL","CORPORATION"]}},{"name":"status","in":"query","description":"* `ACTIVE` - Customer is active and available for use in line with client configuration. \n* `CLOSED` -  Customer is permanently closed, no further actions can be performed on it or associated accounts. \n* `PENDING` -  Customer is under additional review. No actions can be performed on the account.   \n* `FROZEN` - Customer and associated accounts have been temporarily locked for all actions. \n* `EDD` -  Customer requires enhanced due diligence to be performed. The customer and accounts will operate as if frozen. \n* `DORMANT` - No activity has been seen in the last 12 months. Customer and accounts are available for use.  \n\n","schema":{"type":"string","enum":["ACTIVE","CLOSED","FROZEN","PENDING","EDD","DORMANT"]}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCustomers"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["customers:read"]}]}},"/v1/applications/{application_id}/status":{"get":{"tags":["Applications"],"summary":"Retrieve Application Status","description":"Retrieve the detailed status of an application ","operationId":"getApplicationStatus","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseApplicationState"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["applications:read"]}]}},"/v1/accounts/payments/{id}/transactions":{"get":{"tags":["Accounts/Payments"],"summary":"Retrieve Transactions","description":"Retrieves all transactions under the given account","operationId":"getPaymentAccountTransactions","parameters":[{"name":"id","in":"path","description":"Payment Account ID","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"Records to return per page (default = 20)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","description":"Sort order by transaction date (ASC or DESC)","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"start_date","in":"query","description":"Filter for transaction from this date","required":false,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","description":"Filter for transaction to this date","required":false,"schema":{"type":"string","format":"date"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTransactionPayments"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseError"}}}}},"security":[{"OAuth2Flow":["accounts:read"]}]}},"/v1/accounts/payments/{id}/transactions/{id}":{"get":{"tags":["Accounts/Payments"],"summary":"Retrieve Transaction","description":"Retrieves details of a single transaction under the given account","operationId":"getPaymentAccountTransaction","parameters":[{"name":"id","in":"path","description":"Transaction ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Optional Unique ID per request, useful for fault resolution/diagnosis and audit.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTransactionDetails"}}}},"400":{"description":"Bad Request","content":{"application/json":{"sc
[...]
