{"openapi":"3.0.1","info":{"title":"Layer2 API Specification","description":"Beta API definitions and descriptions. Subject to change prior to production","version":"0.9"},"servers":[{"url":"https://api.l2fplatform.net","description":"Test API Instance"}],"tags":[{"name":"Customers","description":"Customer management and servicing functions to allow clients to onboard, manage and maintain customers on the Layer2 platform"},{"name":"Settlements","description":"Settlement services for funds confirmation and reconciliation"},{"name":"Accounts","description":"Accounts creation and management functions, possibly "},{"name":"Exchanges","description":"Exchange between 2 supported currency pairs where the customer is the account holder for both."}],"paths":{"/v1/exchanges/quote":{"post":{"tags":["Exchanges"],"summary":"Create Quote","description":"Request a quote to move funds between customer accounts. Both accounts must be owned by the same customer. Generates a time sensitive quote that must be executed","operationId":"createQuote","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeQuoteRequest"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteResponseData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/exchanges/quote/{id}":{"post":{"tags":["Exchanges"],"summary":"Accept Quote","description":"Accepts a quote request and immediately moves to execution. This operation cannot be reversed. ","operationId":"getSettlement","parameters":[{"name":"quoteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteResponseData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/customers/{id}/whitelist":{"post":{"tags":["Customers"],"summary":"Add Whitelist Address","description":"Add a new whitelisted address to send funds from for this customer.","operationId":"addToCustomerWhiteList","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddWhiteListRequest"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/customers/bluetick":{"post":{"tags":["Customers"],"summary":"Onboard Customer (Bluetick)","description":"Onboard New Customer using BlueTick Token Exchange. Provided with a wallet message signature this operation will leverage bluetick to perform the customer onboarding","operationId":"onboardCustomer","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOnboardingWithBlueTickRequest"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/accounts":{"post":{"tags":["Accounts"],"summary":"Open Account","description":"Opens a new account for a customer of a given product type","operationId":"openAccount","parameters":[{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountOpenRequest"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/settlements/fiat/{id}":{"get":{"tags":["Settlements"],"summary":"Get FIAT Settlement Report","description":"Provide the rail reference ID (Wire Reference, ACH ID or L2F Settlement Report ID) to returns full details of the settlement request","operationId":"getSettlement_1","parameters":[{"name":"externalRailReferenceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatSettlementResponseData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/customers/{id}":{"get":{"tags":["Customers"],"summary":"Retrieve Customer","description":"Retrieves the base set of customer details, excluding extended attributes (namely KYC)","operationId":"getOnboardedCustomer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndividualResponseData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Retrieve Account","description":"Retrieves the base set of account details for a given account ID","operationId":"getAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponseData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/accounts/{id}/transactions":{"get":{"tags":["Accounts"],"summary":"Get Transactions","description":"Retrieves all transactions under the given account","operationId":"getTransactions","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page of records to get (default 0 = first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Records to return per page (default = 20)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","description":"Sort order by transaction date (ASC or DESC)","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponseData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/accounts/{id}/address":{"get":{"tags":["Accounts"],"summary":"Retrieve Address","description":"Retrieves a usable deposit address for the Asset Type that is assigned to this account","operationId":"getAddress","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"OAuth bearer token (see authentication flows)","schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Client specific API Key","schema":{"type":"string"}},{"name":"x-l2f-request-id","in":"header","description":"Unique ID for each request","schema":{"type":"UUID"}},{"name":"x-l2f-correlation-id","in":"header","description":"Business operation specific ID used for duplicate checking and async correlation","schema":{"type":"UUID"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletAddressResponseData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ExchangeQuoteRequest":{"type":"object","properties":{"source_account_id":{"type":"string","description":"Source Account (source of funds)"},"destination_account_id":{"type":"string","description":"Destination account (deposit of exchange)"},"amount":{"type":"number","description":"Amount to Buy or Sell depending on the Type"},"type":{"type":"string","description":"Type of exchange being performed","enum":["BUY","SELL"]}},"description":"Original quote request that was quoted"},"Quote":{"type":"object","properties":{"id":{"type":"string"},"quote_created_timestamp":{"type":"string","description":"Time when the quote was generated","format":"date-time"},"quote_valid_until":{"type":"string","description":"Time when this quote expires and can no longer be used. If expire a new quote must be requested","format":"date-time"},"quote_request":{"$ref":"#/components/schemas/ExchangeQuoteRequest"},"offered_asset_type":{"type":"string","enum":["FIAT","BITCOIN","ETHEREUM","POLYGON"]},"offered_currency":{"type":"string","description":"Currency of offer"},"offered_amount":{"type":"number","description":"Amount being offered for the quote"},"quote_status":{"type":"string","description":"Status of this quote","enum":["OPEN","EXPIRED","CANCELLED","EXECUTED"]}}},"QuoteResponseData":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Quote"}}},"Error":{"type":"object","properties":{"error_code":{"type":"string","description":"Layer2 Standard Error Code"},"error_description":{"type":"string","description":"Error Description"}},"description":"Error List"},"ErrorResponse":{"type":"object","properties":{"correlation_Id":{"type":"string","description":"Request correlation from the x-l2f-correlation-id header","format":"uuid"},"errors":{"type":"array","description":"Error List","items":{"$ref":"#/components/schemas/Error"}}}},"CustomerAddWhiteListRequest":{"type":"object","properties":{"wallet_address":{"$ref":"#/components/schemas/WalletAddress"}}},"WalletAddress":{"type":"object","properties":{"wallet_address":{"type":"string","description":"Address to be whitelsited"},"asset_type":{"type":"string","description":"Asset Type (CRYPTO or FIAT)","enum":["FIAT","BITCOIN","ETHEREUM","POLYGON"]},"currency":{"type":"string","description":"Currency of the address"}},"description":"Wallet source address to be whitelisted and linked to the Layer2 account for this customer"},"CustomerOnboardingWithBlueTickRequest":{"type":"object","properties":{"signed_message":{"type":"string","description":"Signed output from the end customers wallet authentication with MetaMask (personal_sign)"},"source_wallet_address":{"type":"string","description":"End customers wallet address associated with the BlueTick Identity token. This address will be whitelisted and linked to the Layer2 account for this customer"},"customer_id":{"type":"string","description":"Reference ID for the customer to be used by Layer2 (i.e. client customer id)"}}},"AccountOpenRequest":{"type":"object","properties":{"customer_id":{"type":"string","description":"Customer ID of the customer for whom the account is being opened (see /customers)"},"account_id":{"type":"string","description":"Client generated Account ID to apply to the opened account and to use for future referencing"},"product_id":{"type":"string","description":"Product configuration to apply to the account (see /products)"}}},"FiatSettlementResponseData":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SettlementReport"}}},"SettlementDetails":{"type":"object","properties":{"account_id":{"type":"string","description":"Ledger account from which funds were settled"},"amount_settled":{"type":"number","description":"Amount of settlement attributed to this account"}},"description":"Breakdown of the individuals accounts that were included in this settlement"},"SettlementReport":{"type":"object","properties":{"id":{"type":"string","description":"Settlement ID"},"external_rail_reference_id":{"type":"string","description":"External Rail Reference ID if applicable (Wire Reference, ACH ID etc)"},"settlement_status":{"type":"string","description":"Status of this settlement. Processed settlements are complete and funds dispersed","enum":["UNPROCESSED","PROCESSED","CANCELLED"]},"settlement_rail":{"type":"string","description":"The FIAT rail used for this settlement","enum":["WIRE","ACH"]},"settlement_executed_timestamp":{"type":"string","description":"Time when this settlement was executed (when funds were dispersed)","format":"date-time"},"settlement_asset_type":{"type":"string","description":"Asset type of the settlement","enum":["FIAT","BITCOIN","ETHEREUM","POLYGON"]},"settlement_currency":{"type":"string","description":"Currency of the settlement"},"settlement_amount":{"type":"number","description":"Full amount of the settlement that was performed (prior to any fee deductions by the receiving institution)"},"settlement_details":{"type":"array","description":"Breakdown of the individuals accounts that were included in this settlement","items":{"$ref":"#/components/schemas/SettlementDetails"}}}},"Address":{"type":"object","properties":{"unit_number":{"type":"string"},"address_line1":{"type":"string"},"address_line2":{"type":"string"},"address_line3":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"postal_code":{"type":"string"},"country":{"type":"string"}}},"Individual":{"type":"object","properties":{"id":{"type":"string","description":"Unique customer ID as defined by the Client during onboarding"},"customer_status":{"type":"string","description":"Customer status","enum":["ACTIVE","PENDING","INACTIVE"]},"title":{"type":"string"},"first_name":{"type":"string"},"middle_names":{"type":"array","items":{"type":"string"}},"last_name":{"type":"string"},"email":{"type":"string"},"address":{"$ref":"#/components/schemas/Address"},"date_of_birth":{"type":"string","format":"date"},"accounts":{"type":"array","description":"List of customer accounts - lookup using /accounts endpoint","items":{"type":"string","description":"List of customer accounts - lookup using /accounts endpoint"}}}},"IndividualResponseData":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Individual"}}},"Account":{"type":"object","properties":{"id":{"type":"string","description":"Unique Identifier for the account - defined by the Client during account open"},"account_status":{"type":"string","description":"Account Status - will determine servicing options on the account","enum":["OPEN","CLOSED","FROZEN","PENDING"]},"asset_type":{"type":"string","description":"Determine if this is a CRYPTO or FIAT based account","enum":["FIAT","BITCOIN","ETHEREUM","POLYGON"]},"currency":{"type":"string","description":"Underlying currency of the account (BTC, ETH, USD etc)"},"product_id":{"type":"string","description":"Client Product configuration this account respects"},"current_balance":{"type":"number","description":"Full balance on the account including funds on hold"},"available_balance":{"type":"number","description":"Balance available for immediate spending (excludes held funds)"},"last_balance_update":{"type":"string","description":"Last update to the account balance","format":"date-time"}}},"AccountResponseData":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Account"}}},"Page":{"type":"object","properties":{"self":{"type":"string","description":"endpoint to the current page of results"},"first":{"type":"string","description":"endpoint to the first page of results"},"prev":{"type":"string","description":"endpoint to the previous page of results"},"next":{"type":"string","description":"endpoint to the next page of results"},"last":{"type":"string","description":"endpoint to the last page of results"}}},"Transaction":{"type":"object","properties":{"id":{"type":"string","description":"Unique Identifier for the transaction"},"value":{"type":"number","description":"Value of the transaction in the underlying account currency"},"transaction_date":{"type":"string","description":"Date time the transaction was performed","format":"date-time"},"transaction_posted_date":{"type":"string","description":"Date time the transaction was posted","format":"date-time"},"transaction_status":{"type":"string","description":"Status of transaction","enum":["PENDING","POSTED"]},"description":{"type":"string","description":"Description"}}},"TransactionResponseData":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"links":{"$ref":"#/components/schemas/Page"}}},"WalletAddressResponseData":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/WalletAddressWithLease"}}},"WalletAddressWithLease":{"type":"object","properties":{"wallet_address":{"type":"string","description":"Issued address for the reciept of funds. Depending on client configuration, ensure to check if there is a limited use lease applied to this address and alert end customers to the limitations if so"},"asset_type":{"type":"string","description":"Asset Type (CRYPTO or FIAT)","enum":["FIAT","BITCOIN","ETHEREUM","POLYGON"]},"currency":{"type":"string","description":"Currency of the address"},"lease_enforced":{"type":"boolean","description":"Does this address have a lease period (i.e. a limited usage window) after which it cannot be used"},"lease_end_date":{"type":"string","description":"If a lease is enforced, the date and time the lease expires. After this date the address can no longer be used to receive funds and a new address must be requested. Null signifies no time limit on the lease","format":"date-time"},"lease_transaction_limit":{"type":"integer","description":"The number of times this address can be used to receive funds before the lease is retired. This supersedes the lease end date should it be set (i.e. once the transaction limit is reached the lease is expired even if time remains for usage). Null signifies no limits on the number of uses.","format":"int32"}}}},"securitySchemes":{"AuthCodeFlow":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"http://auth.l2fplatform.net","scopes":{}}}}}}}
